.app {
  &-btn {
    &-login {
      width: 100%;
    }
  }

  &-logo {
    max-width: 190px;
    max-height: 190px;
    
    &-wrapper {
      margin-bottom: 20px;
    }
  }

  &-login {
    padding-bottom: 500px;
  }
}