.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@-webkit-keyframes docs-wiggle-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  25% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }
  75% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg)
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}

@keyframes docs-wiggle-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  25% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }
  75% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg)
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}

.docs-wiggle {
  /* -webkit-animation:docs-wiggle-rotate .1s cubic-bezier(.4,1,.75,.9) infinite; */
  animation: docs-wiggle-rotate .1s cubic-bezier(.4, 1, .75, .9) infinite;
}